<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show_data</title>
</head>
<body>
<input type="text" value>
<button><a href="/detail<ename>"></a>Search</button>
<table border="1">
    <tr>
    <th>E_ID</th>
    <th>E_NAME</th>
    <th>E_EMAIL</th>
    <th>E_ADDRESS</th>
    </tr>
        {% for i in res %}
    <tr>
        <td>{{i.eid}}</td>
        <td>{{i.ename}}</td>
        <td>{{i.eemail}}</td>
        <td>{{i.eaddress}}</td>
        <td><a href="edit/{{i.id}}">edit</a>
        <td><a href="delete/{{i.id}}">delete</a></td>
        </td>

    </tr>
    {% endfor %}
</table>
</body>
</html>